/* _content/NetcodeHub.Packages.Components.Toast/NetcodeHubToast.razor.rz.scp.css */
.my-component[b-bdhxyw3y6t] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
